@font-face {
  font-family: LuxoraThin;
  src: url("../font/LuxoraGrotesk-Thin.woff");
}
* {
  margin: 0 !important;
  color: azure;
  font-family: "LuxoraThin";
  letter-spacing: 1px;
}

body {
  background-color: rgb(4, 7, 9) !important;
}

.text-muted {
  color: rgba(240, 255, 255, 0.551) !important;
}

.btn {
  border-radius: 0px;
  font-family: monospace;
  font-weight: 400;
  font-size: 1.4vw !important;
}

h1 {
  font-size: 7.2vw;
  font-weight: 900 !important;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 2.5em;
}

h5 {
  font-size: 2.3vw;
}

/*classes*/
.card {
  background-color: transparent;
  border: 2px solid azure;
  border-radius: 0;
  height: 40vh;
  position: relative;
  overflow: hidden;
}
.card-title {
  color: azure;
  font-size: 3vw;
}
.card-text {
  text-align: justify;
  font-size: 1.9vh;
}
.card a {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-top: 3px solid azure;
  background-color: rgb(4, 7, 9);
}

.text-muted {
  color: rgba(240, 255, 255, 0.551) !important;
  text-align: justify;
  font-size: inherit;
}

.middleland {
  width: 50%;
  border-bottom: 3px dashed azure;
}

.section-title {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
}

/*----------------------[type]----------------------*/
.typing-anima {
  animation: typing 2s steps(18), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
}

@keyframes typing {
  from {
    width: 0;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}
/*--------------------[navigator]--------------------*/
.cube-wrap {
  position: fixed;
  bottom: 10vh;
  right: 10vh;
  perspective: 100vh;
  z-index: 1000;
}

.cube {
  transform-style: preserve-3d;
  transform: rotateX(0deg) rotateZ(45deg) rotateY(-45deg);
  animation: cube 1s linear infinite;
  transform-origin: 50% 50% 0;
}

@keyframes cube {
  to {
    transform: rotateX(360deg) rotateZ(45deg) rotateY(-45deg);
  }
}
.side {
  position: absolute;
  width: 10vh;
  height: 10vh;
  background-color: azure;
  backface-visibility: visible;
  top: -5vh;
  left: -5vh;
  border: 1vh solid rgb(4, 7, 9);
}
.side a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 100%;
  height: 100%;
}
.side a i {
  color: rgb(4, 7, 9);
  font-size: 1.5em;
}

.top {
  transform: rotateX(90deg) translateZ(4.9vh);
}

.bottom {
  transform: rotateX(90deg) translateZ(-4.9vh);
}

.left {
  transform: rotateY(90deg) translateZ(4.9vh);
}

.right {
  transform: rotateY(90deg) translateZ(-4.9vh);
}

.front {
  transform: translateZ(4.9vh);
}

.back {
  transform: translateZ(-4.9vh);
}

:root .cube-wrap * {
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

/*----------------------[header]----------------------*/
#qmars {
  color: rgb(214, 1, 1) !important;
  font-weight: bold;
}

header {
  height: 100vh;
}
header button {
  font-size: 1vw !important;
}

/*--------------------[whos qmars]--------------------*/
.whos {
  display: flex;
  justify-content: center;
  align-items: center;
}
.whos-left {
  border: 2px solid azure;
  padding-right: 20% !important;
}
.whos-right {
  width: 15em;
  height: 15em;
  right: 5em;
  border-radius: 50%;
  padding-right: 10px;
  background-color: azure !important;
  position: absolute;
  color: rgb(4, 7, 9) !important;
}

/*----------------------[skill]----------------------*/
#skills {
  margin: 10px !important;
}

.skill {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
.skill-bars {
  margin: 10px 2px !important;
  width: 120%;
}

.progressbar {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 35px;
  position: relative;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.1);
  padding: 5px;
}

.proggress {
  height: 8px;
  width: 10px;
}

/*--------------------[experience]--------------------*/
#experience {
  margin: -13px !important;
}

.experience {
  display: flex;
  justify-content: center;
  align-items: center;
}
.experience-area {
  height: 70%;
  border: 2px solid azure;
}

.exList {
  border-right: 2px solid azure;
}
.exList-ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.exList-ul li {
  cursor: pointer;
  padding: 24px 0px;
  width: 100%;
  text-align: center;
}

.exBtn:focus {
  letter-spacing: 50px;
}
.exBtn-Active {
  color: rgb(4, 7, 9);
  background-color: azure;
  transition: 0.5s all;
}

#exArena {
  height: 100%;
  padding: 20px;
  text-align: justify;
}

/*--------------------[services]--------------------*/
#myservices {
  margin: -13px !important;
}

.services {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ...........................................media-query............................................... */
@media (max-width: 1199px) {
  #experience {
    margin: 0 -53px !important;
  }
  #myservices {
    margin: 0px -68px !important;
  }
  .card-text {
    font-size: 1.2vw;
  }
}
@media (max-width: 991px) {
  #skills {
    margin: -5px !important;
  }
  #experience {
    margin: 0 -72px !important;
  }
  #myservices {
    margin: 0 -85px !important;
  }
  .whos-left {
    padding-right: 3rem !important;
    margin-left: -21px !important;
  }
}
@media (max-width: 767px) {
  .middleland {
    display: none;
  }
  .skill {
    height: auto;
  }
  #skills {
    margin: 0 !important;
  }
  #experience {
    margin: 0 !important;
  }
  #myservices {
    margin: 0 !important;
  }
  .section-title {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
    text-align: center;
    padding: 30px 0;
  }
  .skill-bars {
    width: 160%;
  }
  .middleland {
    margin-left: 70px !important;
  }
  #skillsRow {
    display: flex;
    justify-content: space-between;
    margin-left: -30px !important;
  }
  h5 {
    font-size: 3.96vw;
  }
  h1 {
    font-size: 6.8vw;
  }
  #skillsRow {
    margin-left: -23px !important;
  }
  .skill-bars {
    width: 140%;
  }
  .services .col-sm-10 {
    display: flex;
    justify-content: center;
  }
  .services .col-sm-10 .card {
    margin: 30px 10px !important;
  }
  .services .col-sm-10 .card-title {
    font-size: 4vw;
    margin-bottom: 15px !important;
  }
  .services .col-sm-10 .card-text {
    font-size: 2.1vw;
  }
  .btn {
    font-size: 2.4vw !important;
  }
  section,
  header {
    margin-bottom: 4vh !important;
  }
  .cube {
    transform-origin: 0 !important;
  }
  .side {
    width: 6vh;
    height: 6vh;
    border: 0.5vh solid rgb(4, 7, 9);
  }
  .side a i {
    font-size: 1em;
  }
  .top {
    transform: rotateX(90deg) translateZ(2.9vh);
  }
  .bottom {
    transform: rotateX(90deg) translateZ(-2.9vh);
  }
  .left {
    transform: rotateY(90deg) translateZ(2.9vh);
  }
  .right {
    transform: rotateY(90deg) translateZ(-2.9vh);
  }
  .front {
    transform: translateZ(2.9vh);
  }
  .back {
    transform: translateZ(-2.9vh);
  }
}
@media (max-width: 576px) {
  .whos-left {
    padding-right: 1rem !important;
    margin-left: 0 !important;
  }
}
@media (max-width: 319px) {
  .skill-bars {
    width: 200%;
    margin: 10px -5px !important;
  }
  h2 {
    font-size: 1rem;
  }
  #skillsRow {
    margin-left: -36px !important;
  }
  .card-body {
    padding: 15px 0px !important;
  }
  .card-text {
    font-size: 2.7vw !important;
  }
  .card-title {
    font-size: 5vw;
  }
  footer p {
    font-size: 0.6em;
  }
}/*# sourceMappingURL=main.css.map */