* {
  margin: 0 !important;
  color: azure;
  font-family: "NTR", sans-serif;
}

body {
  background-color: rgb(4, 7, 9) !important;
}

.text-muted {
  color: rgba(240, 255, 255, 0.551) !important;
}

.btn {
  border-radius: 0px;
  font-family: monospace;
  font-weight: 400;
}

h1 {
  font-size: 8vw;
  font-weight: 900 !important;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 2.5em;
}

h5 {
  font-size: 2vw;
}

/*classes*/
.card {
  background-color: transparent;
  border: 2px solid azure;
  border-radius: 0;
  height: 40vh;
  position: relative;
}
.card-title {
  color: azure;
}
.card-text {
  text-align: justify;
}
.card a {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-top: 3px solid azure;
}

.middleland {
  width: 50%;
  border-bottom: 3px dashed azure;
}

.section-title {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
}

/*-----[type]-----*/
.typing-anima {
  width: 8.5em;
  animation: typing 2s steps(21), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
}

@keyframes typing {
  from {
    width: 0;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}
/*-----[navigator]-----*/
.cube-wrap {
  position: fixed;
  bottom: 10vh;
  right: 10vh;
  perspective: 100vh;
  z-index: 1000;
}

.cube {
  transform-style: preserve-3d;
  transform: rotateX(0deg) rotateZ(45deg) rotateY(-45deg);
  animation: cube 1s linear infinite;
  transform-origin: 50% 50%;
}

@keyframes cube {
  to {
    transform: rotateX(360deg) rotateZ(45deg) rotateY(-45deg);
  }
}
.side {
  position: absolute;
  width: 10vh;
  height: 10vh;
  background-color: azure;
  backface-visibility: visible;
  top: -5vh;
  left: -5vh;
  border: 1vh solid rgb(4, 7, 9);
}
.side a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 100%;
  height: 100%;
}
.side a i {
  color: rgb(4, 7, 9);
  font-size: 1.5em;
}

.top {
  transform: rotateX(90deg) translateZ(4.9vh);
}

.bottom {
  transform: rotateX(90deg) translateZ(-4.9vh);
}

.left {
  transform: rotateY(90deg) translateZ(4.9vh);
}

.right {
  transform: rotateY(90deg) translateZ(-4.9vh);
}

.front {
  transform: translateZ(4.9vh);
}

.back {
  transform: translateZ(-4.9vh);
}

:root .cube-wrap * {
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

/*-------[header]-------*/
#qmars {
  color: rgb(214, 1, 1) !important;
  font-weight: bold;
}

header {
  height: 100vh;
}
header button {
  font-size: 1vw !important;
}

/*-----[whos qmars]-----*/
.whos {
  display: flex;
  justify-content: center;
  align-items: center;
}
.whos-left {
  border: 2px solid azure;
  padding-right: 20% !important;
}
.whos-right {
  width: 20em;
  height: 20em;
  right: 5em;
  border-radius: 50%;
  padding-right: 10px;
  background-color: azure !important;
  position: absolute;
  color: rgb(4, 7, 9) !important;
}

/*-------[skill]-------*/
.skill {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

.progressbar {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 35px;
  position: relative;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.1);
  padding: 5px;
}

.proggress {
  height: 8px;
  width: 10px;
  background-color: #3498db;
}

/*-----[experience]-----*/
.experience {
  display: flex;
  justify-content: center;
  align-items: center;
}
.experience-area {
  height: 70%;
  border: 2px solid azure;
}

.exList-ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.exList-ul li {
  cursor: pointer;
  padding: 20px;
  width: 100%;
  text-align: center;
}

.exBtn:focus {
  letter-spacing: 50px;
}
.exBtn-Active {
  color: rgb(4, 7, 9);
  background-color: azure;
  transition: 0.5s all;
}

#exArena {
  height: 100%;
  border-left: 2px solid azure;
  padding: 20px;
  text-align: justify;
}

/*-----[services]-----*/
.services {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ...........................................media-query............................................... *//*# sourceMappingURL=main.css.map */