* {
    margin: 0 !important;
    color: $colorAlpha;
    font-family: 'NTR', sans-serif;
}
body {
    background-color: $colorDark !important;
}
.text-muted {
    color: $colorAlpha-darker !important;
}
.btn {
    border-radius: 0px;
    font-family: monospace;
    font-weight: 400;
    font-size: 1.4vw !important;
}
h1 {
    font-size: 8.2vw;
    font-weight: 900 !important;
}
h2 {
    font-size: 1.5rem;
}
h3 {
    font-size: 2.5em;
}
h5 {
    font-size: 2.3vw;
}
/*classes*/
.card{
    background-color: transparent;
    border: 2px solid $colorAlpha;
    border-radius: 0;
    height: 40vh;
    position: relative;
    overflow: hidden;
    &-title {
        color: $colorAlpha;
        font-size: 3vw;
    }
    &-text {
        text-align: justify;
        font-size: 1.2vw;
    }
    a {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        border-top: 3px solid $colorAlpha;
        background-color: $colorDark;
    }
}
.text-muted {
    color: $colorAlpha-darker !important;
    text-align: justify;
    font-size: inherit;
}